# Dependencies
node_modules/
yarn.lock
package-lock.json

# Build outputs
dist/
build/

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.DS_Store

# PM2
.pm2/

# Temporary files
.tmp/